body {
    font-family: Ebrima , sans-serif;
    font-weight: bold;
    height: 100%;
}

#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #4C9F38;
    display: flex;
    align-items: center;
    padding: 0 20px; /* left and right breathing room */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.view {
    position: absolute;
    top: 70px; /* below top-bar */
    left: 0;
    width: 100%;
    bottom: 0; /* take all remaining space */
    display: none; /* hide inactive views */
    overflow: auto;
    display: none;
    flex-direction: row; /* adjust if needed */
}

.view.active {
    display: flex;
}

#title {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

#view_buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    /* remove margin-left completely */
}

/* #CatalogueView {
  height: 100%; 
}

#MapView {
    display: flex;
    height: 100%;
    width: 100%;
} */


/* Text styling */
#top-bar .top-bar-text {
    font-family: Ebrima , sans-serif;
    font-size: 40px; 
    color: rgb(255, 255, 255); 
    margin: 0 auto;
    text-align: center;
}

#map_container {
    flex: 1;                  /* take remaining space next to sidebar */
    position: relative;       /* for labels and slider */
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    min-width: 150px;
    height: 70px;
    background-color: #19486A;
    padding: 20px;
    z-index: 1000;
    box-sizing: border-box;
    transition: max-height 0.4s ease;
}

#sidebar.open {
  padding-top: 70px;
  height: 100%;
}

#sidebar aside {
  opacity: 0;
  pointer-events: none;
  transition: max-height 0.0s ease;
}

#sidebar.open aside {
  opacity: 1;
  pointer-events: all;
}

/* Make map the same width as the top bar */
#map {
    width: 100%;
    height: 100%;
}

#map_label{
  position: absolute;
  bottom: 100px;
  left: 20px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

/* copied from Tutorial */
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');
body {
  color: #5D5F63;
  background: #19486A;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.sidebar {
  background: #19486A;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 100;
  #leftside-navigation {
    ul, ul ul {
      margin: -2px 0 0;
      padding: 0;
    }
    ul {
      li {
        list-style-type: none;
        border-bottom: 1px solid rgba(255,255,255,.05);
        &.active {
          & > a {
            color: #4C9F38;
          }
          ul {
            display: block;
          }
        }
        a {
          color: #ffffff;
          text-decoration: none;
          display: block;
          padding: 18px 0 18px 25px;
          font-size: 40px;
          border-bottom: 2px solid #52614e7e;
          cursor: pointer;
          -webkit-transition: all 200ms ease-in;
          -moz-transition: all 200ms ease-in;
          -o-transition: all 200ms ease-in;
          -ms-transition: all 200ms ease-in;
          transition: all 200ms ease-in;
          &:hover {
            color:  #56C02B;
          }
          span {
            display: inline-block;
          }
          i {
            width: 20px;
            .fa-angle-left, .fa-angle-right {
              padding-top: 3px;
            }
          }
        }
      }
    }
    ul ul {
      display: none;
      li {
        background: #00689D;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        border-bottom: none;
        a {
          font-size: 25px;
          padding-top: 13px;
          padding-bottom: 13px;
          color: #ffffff;
        }
      }
    }
    ul ul ul{
      display: none;
      li {
        background: #00689D;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        border-bottom: none;
        a {
          font-size: 15px;
          padding-top: 13px;
          padding-bottom: 13px;
          color: #ffffff;
          &:hover {
          color:  #ffffff;
          }
        }

      }
    }
  }
}

#dynamic-populated-menu li ul li a.selected {
  background-color: #4C9F38; /* blue */
  color: white;
  font-weight: bold;
  /* text color */
  color: #5a277c;
  width: 100%;
}

#time-component {
  margin-top: 20px;
  background-color: #19486a;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 30px;
}

/* Make the h3 less squished */
#time-component h3 {
  margin: 8px 0;
  padding: 8px 6px;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 0.02em;
}
/* Make the h3 less squished */
#time-component h3 {
  margin: 8px 0;
  padding: 8px 6px;
  font-size: 40px;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Make icon align to the right of the thing its in */
.metadata-icon {
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 20px;
}


.metadata-box {
  position: absolute;
  top: 100px;
  left: 100%;
  transform: translateX(-0%);
  width: 400px;
  height: fit-content;
  max-width: 90%;
  background:  #19486A;
  color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  padding: 20px;
  z-index: 1000;
  overflow-y: auto; 
  overflow-x: hidden;
}

.metadata-box.hidden {
  display: none;
}

#metadata-close {
  position: absolute;
  top: 5px;
  right: 8px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
}

#showOnMapBtn{
  background-color: #4C9F38;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#showOnMapBtn:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.year-select {
  width: 50%;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 14px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  cursor: pointer;
  text-align: center;
}

.year-select option {
  background-color:  #19486A;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.year-select:hover {
  border-color: #999;
  cursor: pointer;
}

.year-select:focus {
  outline: none;
  border-color: #0078d7;
  box-shadow: 0 0 3px rgba(0, 120, 215, 0.4);
}

/* Make themap label be on top of the map, on the bottom center */
#map-label {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 30px;
  color: #333;
  z-index: 1000;
  font-weight: 300;
}

/* Slider container */
/* position it relative to the map container */
.slider-container {
    position: absolute;
    top: 100px;  
    right: 12px;
    z-index: 8000;
    background: #ffffff; 
    border-radius: 5px;
    padding: 6px 10px 6px 6px;
    width: 200px;
    border: 2px solid rgb(0 0 0 / 20%);
    color:#000000;
    background-clip: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-kerning: auto;
    font-weight: lighter;
    font-size: 12px;
    text-align: center;
}
.slider-container.collapsed {
    display: none;
}

#opacity-slider {
    width: 180px;
}

/* Sidebar toggler */
.toggle_container {
  display: inline-block;
  cursor: pointer;
  left: 30px;
  position: absolute;
  top: 20px;
  z-index: 1001;
}

.toggle_bar1, .toggle_bar2, .toggle_bar3 {
  width: 35px;
  height: 5px;
  background-color: #26BDE2;
  margin: 6px 0;
  transition: 0.4s;
}

.change .toggle_bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .toggle_bar2 {opacity: 0;}

.change .toggle_bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* ################ CATALOGUE VIEW ######################## */
.catalogue_sidebar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 450px;
  height: 100vh;
  background-color: #19486A;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

#catalogue {
  margin-left: 450px;
  background-color: #19486A;
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  padding-top: 100px;
}


.catalogue_sidebar {
  background: #19486A;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

#dynamic-populated-menu-catalogue-view {
  list-style: none;
  margin: 0;
  padding: 0;
}

#dynamic-populated-menu-catalogue-view li {
  cursor: pointer;
  padding: 18px 25px;   /* clickable area */
  font-size: 40px;
  color: #ffffff;
  border-bottom: 2px solid rgba(82, 97, 78, 0.49);
  user-select: none;
  transition: color 0.2s ease-in;
}

#dynamic-populated-menu-catalogue-view li:hover {
  color: #56C02B;
}

#dynamic-populated-menu-catalogue-view li.selected {
  background-color: #e0f0ff;
  font-weight: bold;
  color: #19486A;  /* optional: keeps text readable on selected background */
}

.catalogue-item {
  border: 1px solid #ccc;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #19486A;
  color: #ffffff;
}

.catalogue-item-title {
  font-size: 1.5em;
  margin-bottom: 8px;
  font-weight: bold;
}

.catalogue-item-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.catalogue-item-row {
  display: flex;
  align-items: center;
}

.catalogue-item-key {
  font-weight: bold;
  width: 200px;
  flex-shrink: 0;
}

.catalogue-item-value {
  font-weight: normal;
  text-align: left;
  flex: 1; 
}
